{% extends base_template %}

{% block title %}About | {% endblock %}

{% block center %}
<div class='page-heading-text'>
    <p>
		I believe in the value of relationships. I view every client relationship as a partnership and truly believe that our success results from your success.<br/>
    </p>
</div>
<div class='copy'>
    <p>Professionalism and Service to Clients<br/>Dor&eacute; &amp; Company offers a wide range of services to individual and business clients. Because this firm is relatively small, our clients benefit by receiving personalized, quality service. We will always charge reasonable fees for services rendered.</p><br/>
    <h2 class='all-caps'>dor&eacute; <span class='number'>&amp;</span> company offers theses services to its clients:</h2>
    <li>
        Individual Tax Services & E-filing 
    </li>
    <li>
        Estate & Fiduciary Tax Services
    </li>
    <li>
        Corporate & Partnership Tax Services 
    </li>
    <li>
        Tax Planning and Preparation
    </li>
    <li>
        Payroll Services 
    </li>
    <li>
        Sales Tax Services
    </li>
    <li>
        Bookkeeping and Write-Up 
    </li>
    <li>
        Financial Statements
    </li>
    <li>
        QuickBooks Consulting 
    </li>
    <li>
        Non-Profit Organization Consulting
    </li>
    <li>
        IRS Representation 
    </li>
    <li>
        Business Consulting
    </li>
</div>
{% endblock %}