{% extends base_template %}

{% block title %}Community | {% endblock %}

{% block center %}
<h1>community</h1>
<div id='pro'>
    {% if assocs %} <h2 class='all-caps'>community associations</h2>
    <ul>
        {% for assoc in assocs %}
        <li>{% if assoc.link %}<a class='no-link' href='{{ assoc.link }}'>{{ assoc.name }}</a>
            {% else %}{{ assoc.name }}
            {% endif %}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br />
    {% if links %} <h2 class='all-caps'>community links</h2>
        {% for link in links %}<div class='links'>
        <h3><a class='no-link' href='{{ link.link }}'>{{ link.name }}</a></h3>
        {% if link.description %}{{ link.description }}{% endif %}            
        </div>{% endfor %}
    {% endif %}
</div>
{% endblock %}