{% extends base_template %}
{% load biz_extras %}
{% block title %}Contact | {% endblock %}

{% block center %}<h1>contact</h1>
<p>
{% if contact.email %}email: {{ contact.email}}<br />{% endif %}
telephone and fax: {{ contact.telephone|phone_paren:" " }}<br />
{% if contact.cell %}cell: {{ contact.cell|phone_paren:" " }}<br />{% endif %}
<br />
Address:
<br />
{{ contact.address1 }}
<br />
{% if contact.address2 %}{{ contact.address2}}<br />{% endif %}
{{ contact.city }}, {{ contact.state }}{% if contact.postal_code %} {{ contact.postal_code}}{% endif %}
</p>
{% endblock %}
