<h2 class='all-caps'>historic abbeville</h2>
<p>
	<span class='all-caps'>Formerly called La Chapelle,</span>
	the land that was to become Abbeville was purchased by founding father P&egrave;re Antoine D&eacute;sir&eacute; M&eacute;gret (P&egrave;re is French for 'Father'), Capuchin missionary, on July 25, 1843 for $900. Megret named the town after his home in France. There were two people living on the land at that time, Joseph LeBlanc and his wife Isabelle Broussard, whose former home Father Megret converted into a chapel. The chapel burned in 1854, and St. Mary Magdalen Catholic Church now stands at the same location.
	<br/>
	<br/>
	At the center of downtown is Magdalen Square, which is accented by large oak trees, a fountain, and gazebo. A statue in memory of Father Megret stands in the square.
	<br/>
	In 1890, 637 people lived in Abbeville; in 1900, 1,536; in 1910, 2,907; in 1940, 6,672; in 1950 9,338. In 1990, 11,187 people lived in Abbeville. In 2010 30,000 people lived in Abbeville.
</p>
