{% load biz_extras %}
<div id='footer' class='gradient-gray'>
	<div class='all-caps'>
		<h3><a class='bottom-link' href='/'>dor&eacute; &amp; company {{ year|pretty_numbers }}<br/></a><a class='bottom-link' href='/privacy'>privacy</a><br/><a class='bottom-link' href='/terms'>terms and conditions</a></h3>
	</div>
	<div class='small all-caps'>
		<a class='bottom-link' href='/'><h3>home</h3></a>
		<a class='bottom-link' href='/about'><h3>about</h3></a>
		<a class='bottom-link' href='/client-center'><h3>client center</h3></a>
		<a class='bottom-link' href='/community'><h3>community</h3></a>
		<a class='bottom-link' href='/contact'><h3>contact</h3></a>
	</div>
	<div>
		<h3>{% if contact.email %}<span class='all-caps'>email: </span><a class='no-link' href='mailto:{{ contact.email }}'>{{ contact.email|lower|emailuser_span:"all-caps" }}</a></h3>
		{% endif %}
		<h3 class='all-caps'>tel & fax: <a class='no-link' href='tel:{{ contact.telephone|phone:""}}'><span class='number'>{{ contact.telephone|phone_paren:" "}}</span></a></h3>
		<h3 class='all-caps'>{% if contact.cell %}cell: <a class='no-link' href='tel:{{ contact.cell|phone:""}}'><span class='number'>{{ contact.cell|phone_paren:" "}}</span></a>{% endif %}</h3>
	</div>
	<div class='all-caps'>
		<h3>{{ contact.address1|pretty_numbers|lower }}<br/>
		{% if contact.address2|lower %}{{ contact.address2|pretty_numbers|lower }}<br/>{% endif %}
		{{ contact.city|lower }}, {{ contact.state|lower }} {% if contact.postal_code %}{{ contact.postal_code|pretty_numbers }}{% endif %}</h3>
	</div>
</div>