{% load biz_extras %}
<div id='footer' class='gradient-gray'>
	<div>
		<h3><a href='/'>dor&eacute; &amp; company <span class='number'>2011<br/></span></a><a href='/privacy'>privacy</a><br/><a href='/terms'>terms and conditions</a></h3>
	</div>
	<div class='small'>
		<a class='bottom-link' href='/'><h3>home</h3></a>
		<a class='bottom-link' href='/about'><h3>about</h3></a>
		<a class='bottom-link' href='/client-center'><h3>client center</h3></a>
		<a class='bottom-link' href='/community'><h3>community</h3></a>
		<a class='bottom-link' href='/contact'><h3>contact</h3></a>
	</div>
	<div>
		<h3>email: <a class='no-link'href='mailto://{{ contact.email }}'><span class='all-caps'>l3dore</span>@doretax.com</a>
		<br/>
		tel & fax: <a class='no-link'href='tel://{{ contact.telephone|phone:""}}'><span class='number'>{{ contact.telephone|phone_paren:" "}}</span></a>
		<br/>
		cell: <a class='no-link'href='tel://{{ contact.cell|phone:""}}'><span class='number'>{{ contact.cell|phone_paren:" "}}</span></a></h3>
	</div>
	<div>
		<h3>{{ contact.address1|pretty_numbers }}<br/>
		{{ contact.address2|pretty_numbers }}<br/>
		{{ contact.city }}, {{ contact.state }} {{ contact.postal_code|pretty_numbers }}</h3>
	</div>
</div>