<div id='footer' class='gradient-gray'>
	<div>
		<h3><a href='#'>dore tax and company 2011</a><a href='#'>privacy</a><a href='#'>terms and conditions</a></h3>
	</div>
	<div class='small'>
		<a href='/home'><h3>home</h3></a>
		<a href='/about'><h3>about</h3></a>
		<a href='/client-center'><h3>client center</h3></a>
		<a href='/community'><h3>community</h3></a>
		<a href='/contact'><h3>contact</h3></a>
	</div>
	<div>
		<h3>email:<a href='mailto://l3dore@doretax.com'><span class='all-caps'>l3dore</span>@doretax.com</a>
		<br/>
		tel & fax:<a href='tel://3378935400'>(337) 893 5400</a>
		<br/>
		cell:<a href='tel://3378935400'>(337) 652 5470</a></h3>
	</div>
	<div>
		<h3>404 pere megret street
		p.o. box 935
		abbeville, louisiana 70511</h3>
	</div>
</div>