<div id='stripe'></div>
<div id='header'>
	<div id='logo'>
		<img src='{{ STATIC_URL }}images/logo.png' />
		<div class='text'>
			<h3 class='all-caps'>lloyd f. dor&eacute; iii</h3>
			<h1>Dor&eacute; &amp; Company</h1>
			<h4>Tax, Accounting and Business Services</h4>
		</div>
	</div>
</div>
<div id='contact-bar' class='gradient-gray'>
	<div>
		<h5><span class='all-caps'>email: </span><a class='no-link'href='mailto://l3dore@doretax.com'>L<span class='number'>3</span>Dore@doretax.com</a> &nbsp;&nbsp;|&nbsp;&nbsp;<span class='all-caps'>tel &amp; fax: </span><a class='no-link'href='tel://3378935400'><span class='number'>(337) 893 5400</span></a> &nbsp;&nbsp;|&nbsp;&nbsp;<span class='all-caps'>cell: </span><a class='no-link'href='tel://3378935400'><span class='number'>(337) 652 5470</span></a></h5>
	</div>
</div>
