<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Dore & Company</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript">
        </script>
        <script type='text/javascript' src='js/main.js'>
        </script>
    </head>
    <body>
        <div id='container'>
            <div id='stripe'>
            </div>
            <div id='header'>
                <div id='logo'>
                    <img src='images/logo.png' />
                    <div class='text'>
                        <h3 class='all-caps'>lloyd f. dor&eacute; iii</h3>
                        <h1>Dore' & Company</h1>
                        <h4>Tax, Accounting and Business Services</h4>
                    </div>
                </div>
            </div>
            <div id='contact-bar' class='gradient-gray'>
                <div>
                    <h5><span class='all-caps'>email:</span><a href='mailto://l3dore@doretax.com'><span class='all-caps'>l3dore</span>@doretax.com</a> &nbsp;&nbsp;|&nbsp;&nbsp;<span class='all-caps'>tel & fax:</span><a href='tel://3378935400'>(337) 893 5400</a> &nbsp;&nbsp;|&nbsp;&nbsp;<span class='all-caps'>cell:</span><a href='tel://3378935400'>(337) 652 5470</a></h5>
                </div>
            </div>
            <div id='main'>
                <div id='image-banner'>
                    <img src='images/lloyd.jpg' /><img class='middle' src='images/books.jpg' /><img src='images/sign.jpg' />
                </div>
                <div id='nav'>
                    <a href='/home'><h2>home</h2></a>
                    <a href='/about'><h2>about</h2></a>
                    <a href='/client-center'><h2>client center</h2></a>
                    <a href='/community'><h2>community</h2></a>
                    <a href='/contact'><h2>contact</h2></a>
                </div>
                <div class='center'>
                    <div class='page-heading-text'>
                        <p>
                            Thank you for visiting our website. Our dedication to quality client service has brought us to the Internet as we endeavor to provide the highest quality professional service and guidance.
                        </p>
                    </div>
                    <div class='copy'>
                        <h2 class='all-caps'>lloyd f. dor&eacute; iii</h2>
                        <p>
                            <span class='all-caps'>With over</span>
                            26 years of experience in tax and accounting, I have long maintained a commitment to providing unequaled service to clients and service to the community. I am committed to providing close, personal attention to clients. I take pride in giving you the assurance that the personal assistance you receive comes from years of advanced training, technical experience, and financial acumen. I believe in staying current in tax planning laws (Individual, Estate, Corporate, Partnership, Fiduciary) and attend seminars regularly. My continual investment of time and resources in professional continuing education, state-of-the-art computer technology, and extensive business relationships represents my commitment to excellence.
                        </p>
                    </div>
                    <div id='pro'>
                        <h2 class='all-caps'>professional associations</h2>
                        <li>
                            National Society Of Public Accountants
                        </li>
                        <li>
                            Accredited Tax Advisor
                        </li>
                        <li>
                            Accredited Tax Preparer
                        </li>
                        <li>
                            Louisiana Society Of Independent Accountants
                        </li>
                        <li>
                            Board Of Directors 2005-2007, Vice President
                        </li>
                        <li>
                            National Society Of Enrolled Agents
                        </li>
                    </div>
                </div>
                <div class='right'>
                    <h2 class='all-caps'>historic abbeville</h2>
                    <p>
                    <span class='all-caps'>Formerly called La Chapelle,</span>
                    the land that was to become Abbeville was purchased by founding father P&egrave;re Antoine D&eacute;sir&eacute; M&eacute;gret (P&egrave;re is French for 'Father'), Capuchin missionary, on July 25, 1843 for $900. Megret named the town after his home in France. There were two people living on the land at that time, Joseph LeBlanc and his wife Isabelle Broussard, whose former home Father Megret converted into a chapel. The chapel burned in 1854, and St. Mary Magdalen Catholic Church now stands at the same location.
                    <br/>
                    <br/>
                    At the center of downtown is Magdalen Square, which is accented by large oak trees, a fountain, and gazebo. A statue in memory of Father Megret stands in the square.
                    <br/>
                    In 1890, 637 people lived in Abbeville; in 1900, 1,536; in 1910, 2,907; in 1940, 6,672; in 1950 9,338.[4] In 1990, 11,187 people lived in Abbeville. In 2010 30,000 people lived in Abbeville.
                </div>
            </div>
            <div id='footer' class='gradient-gray'>
                <div>
                    <h3><a href='#'>dore tax and company 2011</a><a href='#'>privacy</a><a href='#'>terms and conditions</a></h3>
                </div>
                <div class='small'>
                    <a href='/home'><h3>home</h3></a>
                    <a href='/about'><h3>about</h3></a>
                    <a href='/client-center'><h3>client center</h3></a>
                    <a href='/community'><h3>community</h3></a>
                    <a href='/contact'><h3>contact</h3></a>
                </div>
                <div>
                <h3>email:<a href='mailto://l3dore@doretax.com'><span class='all-caps'>l3dore</span>@doretax.com</a>
                    <br/>
                    tel & fax:<a href='tel://3378935400'>(337) 893 5400</a>
                    <br/>
                    cell:<a href='tel://3378935400'>(337) 652 5470</a>
                </h3>
                </div>
                <div>
                    <h3>404 pere megret street
                        p.o. box 935
                        abbeville, louisiana 70511</h3>
                </div>
            </div>
        </div>
    </body>
</html>
