{% extends base_template|default:"base.html" %}
{% block title %}Privacy | {% endblock %}
{% block center %}
{% load biz_extras %}
<div class='page-heading-text'>
    <p>
        Dor&eacute; &amp; Compnany Privacy Policy
        <br/>
        <br/>
    </p>
	<p class='normal'>
        Like all providers of personal financial services, they are now required by law to inform their clients of their policies regarding privacy of client information. We have been and continue to be bound by professional standards of confidentiality that are even more stringent than those required by law.  Therefore, we have always protected your right to privacy.
    </p>
</div>
<div class='copy'>
    <br>
    <h2 class='all-caps'>types of nonpublic personal information we collect</h2>
    <p>
        We collect nonpublic personal information about you that is provided to us by you or obtained by us with your authorization.
    </p>
    <br>
    <br>
    <h2 class='all-caps'>parties to whom we disclose information</h2>
    <p>
        For current and former clients, we do not disclose any nonpublic personal information obtained in the course of our practice except as required or permitted by law.  Permitted disclosures include, for instance, providing information to our employees, and in limited situations, to unrelated third parties who need to know that information to assist us in providing services to you.  In all such situations, we stress the confidential nature of information being shared.
    </p>
    <br>
    <br>
    <h2 class='all-caps'>protecting the confidentiality and security of current and former clients' information</h2>
    <p>
        We retain records relating to professional services that we provide so that we are better able to assist you with your professional needs and, in some cases, to comply with professional guidelines.  In order to guard your nonpublic personal information, we maintain physical, electronic, and procedural safeguards that comply with our professional standards.
    </p>
	<br>
    <p style='text-align:center;'>
        ***************************
    </p>
	<br>
    <p>
        Please call if you have any questions, because your privacy, our professional ethics
        and the ability to provide you with quality financial services are very important to us.
    </p>
    <br>
    <br>
</div>
{% endblock %}