body.ie{
	background-color: #EEE;
}
#contact-bar.ie{
	background-color: #DDD;
}
#contact-bar.ie > div.ie{
    margin: 0px auto;
    padding-top: 10px;
    left: 45px;
    width: 640px;
    height: 30px;
}

#pro.ie li{
    position: relative;
    left: 10px;
}

div.copy.ie li{
	position: relative;
	left: 10px;
}

#footer.ie{
    position: relative;
    top: 0px;
	width: 770px;
    padding-left: 220px;
	background-color: #DDD;
}

#footer.ie > div.ie{
    position: relative;
	left: 0px;
    float: left;
    width: 185px;
    padding: 10px;
    margin-right: 10px;
}
#footer.ie > div.small.ie{
    width: 90px;
}

#footer.ie h3, #footer.ie a{
    font-size: 11px;
    font-variant: small-caps;
    color: #221F72;
}
div.page-heading-text.ie p{
	font-size: 1.1em;
}
div.copy.ie p{
	font-size: .9em;
}
body.ie h2{
    font-size: 1em;
}