.gradient-body {
    /*Gradient code*/
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, center bottom, center top, from(#EEE), to(#FFF), color-stop(0.01, #EEE));
/* For Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(bottom, #EEE, #FFF 75%);
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FF0000FF, endColorStr=#FFF, GradientType=1);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEE, endColorstr=#FFF, GradientType=1)";
}

#container{
	position: relative;
	width: 990px;
	margin: 10px auto;
	background-color: #FFF;
}
#stripe{
	position: absolute;
	top: 55px;
	width: 100%;
	border-top: 20px solid #221F72;
	z-index: -1;
}

#header{
	position: relative;
	top: 0px;
	height: 125px;
	border-top: 4px solid #221F72;
	border-bottom: 4px solid #221F72;
	background-color: #FFF;
	z-index: 1;
}

#logo{
	margin: 9px 230px;
    width: 550px;
    height: 100px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
	background-color: #FFF;
    text-align: left;
	z-index: 2;
}

#logo img{
	position: relative;
	left: 60px;
	top: 13px;
}

#logo div.text{
	position: relative;
	top: -70px;
	margin-left: 165px;
	color: #221F72;
	background-color: #FFF;
	line-height: 2em;
}

#header div.text h2{
	color: #000;
}
#contact-bar{
	width: 100%;
}
#contact-bar > div{
	margin: 0px auto;
	padding-top: 10px;
	padding-left: 85px;
	width: 530px;
	height: 30px;
}
#contact-bar h5{
	color: #221F72;
	font-size: 15px;
	font-weight: 500;
}
#main{
	position: relative;
	top: 5px;
	border-top: 1px solid #221F72;
	border-bottom: 4px solid #221F72;
	height: 1000px;
}

#image-banner{
	position: relative;
	top: 10px;
	height: 210px;
	margin-bottom: 40px;
	background-color: #FFF;
	z-index: 1;
}

#image-banner img{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	height: 210px;
	width: 220px;
}
#image-banner img:first-child {
	margin-left: 0px;	
}
#image-banner > img.middle {
    width: 530px;
}
#image-banner img:last-child {
    margin-right: 0px;   
}
#nav{
	position: relative;
	width: 200px;
	float: left;
	height: inherit;
	min-height: 600px;
	border-right: 1px solid #221F72;
	background-color: #FFF;
	z-index: 1;
	text-align: right;
	padding-right: 20px;
}
#nav *{
	line-height: 1.5em;
	font-variant: small-caps;
}
#nav *:hover{
    cursor: pointer;
    color: #676767;
}

#main > div.center{
    position: relative;
    float: left;
    width: 530px;
    margin-left: 10px;
	z-index: 0;
}

div.page-heading-text{
	padding-bottom: 20px;
	border-bottom: 1px solid #221F72;
}
div.page-heading-text p{
	font-size: 1.2em;
	line-height: 1.4em;
	color: #221F72;
	text-align: left;
}

div.copy{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

div.copy h2{
	margin-bottom: 5px;
}

div.copy p{
	color: #676767;
	font-size: 1em;
	line-height: 1.6em;
}

div.right{
	position: relative;
	top: 0px;
	background-color: #F3F2F2;
	width: 220px;
	height: auto;
	float: right;
}

div.right h2{
	padding: 8px 0px 0px 8px;
}

div.right p {
	color: #676767;
	text-align: left;
	padding: 8px;
	line-height: 1.4em;
}

#footer{
	position: relative;
	margin-top: 5px;
	height: 100px;
	padding-left: 220px;
}

#footer > div{
	position: relative;
	float: left;
	width: 180px;
	padding: 10px;
	margin-right: 10px;
}
#footer > div.small{
	width: 100px;
}

#footer h3, #footer a{
	font-size: .9em;
	font-variant: small-caps;
	color: #221F72;
}
.current-page{
	color: #676767;
}
.all-caps{
	font-variant: small-caps;
}

*.number{
	font-size: .8em;
}

.gradient-gray {
/*Gradient code*/
color: #BBB;
/* For WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, center bottom, center top, from(#BBB), to(#EEE), color-stop(0.01, #BBB));
/* For Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(bottom, #BBB, #EEE 75%);
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FF0000FF, endColorStr=#EEE, GradientType=1);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBB, endColorstr=#EEE, GradientType=1)";
}

h1{
	font-size: 1.7em;
	font-weight: 900;
	font-style: italic;
}
h2{
	font-size: 1.1em;
	color: #221F72;
	font-weight: 600;
}
h3{
	font-size: 1.4em;
	color: #000;
}
h4{
	font-size: 1em;
}
li{
	font-size: 1em;
	line-height: 1.4em;
	margin-left: 5px;
    color: #221F72;
}

a{
	text-decoration: none;
	font-weight: 500;
	color: #221F72;
}

*{
	font-family: Adobe Garamnond Pro, serif;
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
    font-weight: 500;
}
